@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 10D</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/codebase/suite.css" asp-append-version="true">
    <link rel="stylesheet" href="~/common/index.css" asp-append-version="true">
    <link rel="stylesheet" href="~/layout/common/layout.css" asp-append-version="true">
    <link rel="stylesheet" href="~/site.css" asp-append-version="true">
    @RenderSection("CSS", required: false)
</head>
<body>
    <header>
        <label class="header-title">
            <a asp-area="" asp-controller="Home" asp-action="Index">10D</a>
            @if (@ViewData["Title"] != "Home Page")
            {
                <span class="text-white">@ViewData["Title"]</span>
            }
        </label>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="header-user-info">
                @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
                {
                    <img style="width:40px;height:40px; object-fit:cover; border-radius:30px; margin-top: 10px; margin-top: 10px;" 
                         src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))">
                }
                <a class="user-name" asp-area="Identity" asp-page="/Account/Manage/Index">Hello @User.Identity.Name!</a>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="btn btn-link text-dark" style="margin-top: 10px; font-weight: 500;">Logout</button>
                </form>
            </div>
        }
        <div class="col-md-12 text-right font-weight-bold header-button-group">
            <a href="/">SEARCH CONTACTS</a>
            <a href="/">HOT SEARCH</a>
            <a href="/">GROUPS</a>
            <a href="/">CUSTOMER HOME</a>
            <a href="/">ALL CUSTOMERS</a>
            <a href="/">STOCK HOME</a>
            <a href="/">ALL STOCK</a>
            <a href="/">TECH</a>
        </div>
    </header>
    <menu>
        <div class="dhx_sample-container__widget" id="menu-config"></div>
    </menu>
    @if (SignInManager.IsSignedIn(User))
    {
        @if (@ViewData["Title"] != "Home Page")
        {
            <subheader>
                <span class="text-white">@ViewData["Title"]</span>
            </subheader>
        }
    }
    <content>
        <main role="main" class="pb-3">@RenderBody()</main>
    </content>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/codebase/suite.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/menu/common/common.js"></script>
    <script>
        var menuConf = new dhx.Menu("menu-config", {
            css: 'dhx_widget--bg_dark',
            navigationType: "click",
            data: [
                {
                    "id": "100",
                    "value": "HOT",
                    "items": [
                        {
                            "id": "101",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/Home">Home</a>',
                        },
                        {
                            "type": "separator"
                        },
                        {
                            "id": "102",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/Books">Books</a>',
                        },
                        {
                            "id": "103",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/Production">Production</a>',
                        },
                        {
                            "id": "104",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/Catalogs">Catalogs</a>',
                        },
                        {
                            "id": "105",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/ImportExport">Import / Export</a>',
                        },
                        {
                            "type": "separator"
                        },
                        {
                            "id": "106",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/Authors">Authors</a>',
                        },
                        {
                            "id": "107",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/SearchContact">Search Contact</a>',
                        },
                        {
                            "id": "108",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/AddContact">Add Contact</a>',
                        },
                        {
                            "type": "separator"
                        },
                        {
                            "id": "109",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/SalesReports">Sales Reports</a>',
                        },
                        {
                            "id": "110",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/TaxReports">Tax Reports</a>',
                        },
                        {
                            "type": "separator"
                        },
                        {
                            "id": "111",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/SalesReports">Stock</a>',
                        },
                        {
                            "id": "112",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/TaxReports">Inventory</a>',
                        },
                        {
                            "id": "113",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/Website">Website</a>',
                        },
                    ]
                },
                {
                    "type": "separator"
                },
                {
                    "id": "200",
                    "value": "LINKS",
                    "items": [
                        {
                            "id": "201",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/Home">Home</a>',
                        },
                        {
                            "id": "202",
                            "value": "Books",
                            "items": [
                                {
                                    "id": "203",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/Books">View Books</a>',
                                },
                                {
                                    "id": "204",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Book Admin</a>',
                                },
                                {
                                    "id": "205",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Production Status</a>',
                                },
                                {
                                    "id": "206",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Export Book Data</a>',
                                },
                                {
                                    "id": "207",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Import Book Data</a>',
                                },
                            ]
                        },
                        {
                            "id": "208",
                            "value": "Catalogs",
                            "items": [
                                {
                                    "id": "209",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">View Catalog</a>',
                                },
                                {
                                    "id": "210",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Catalog Admin</a>',
                                },
                                {
                                    "id": "211",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Catalog Content</a>',
                                },
                            ]
                        },
                        {
                            "id": "212",
                            "value": "Contacts",
                            "items": [
                                {
                                    "id": "213",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Add Contact</a>',
                                },
                                {
                                    "id": "214",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Search Contact</a>',
                                },
                                {
                                    "id": "215",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Hot Search</a>',
                                },
                                {
                                    "id": "216",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Copy Contact</a>',
                                },
                                {
                                    "id": "217",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Copy + NUKE</a>',
                                },
                            ]
                        },
                        {
                            "id": "218",
                            "value": "Author / Contributors",
                            "items": [
                                {
                                    "id": "219",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">View Authors</a>',
                                },
                                {
                                    "id": "220",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Search Authors</a>',
                                },
                                {
                                    "id": "221",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">View Avatars</a>',
                                },
                                {
                                    "id": "222",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Avatar Admin</a>',
                                },
                            ]
                        },
                        {
                            "id": "223",
                            "value": "Sales",
                            "items": [
                                {
                                    "id": "224",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Tax Reports</a>',
                                },
                                {
                                    "id": "225",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Sales Reports</a>',
                                },
                                {
                                    "id": "226",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Customer Home</a>',
                                },
                                {
                                    "id": "227",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">All Customers</a>',
                                },
                                {
                                    "id": "229",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Income Home</a>',
                                },
                            ]
                        },
                        {
                            "id": "230",
                            "value": "Production",
                            "items": [
                                {
                                    "id": "231",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Track book from ms to Jackson</a>',
                                },
                                {
                                    "id": "232",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Costs x title</a>',
                                },
                                {
                                    "id": "233",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Rqd Book Data</a>',
                                },
                            ]
                        },
                        {
                            "id": "234",
                            "value": "Stock",
                            "items": [
                                {
                                    "id": "235",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">View Stock</a>',
                                },
                                {
                                    "id": "236",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Stock Admin</a>',
                                },
                                {
                                    "id": "237",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">View Inventory</a>',
                                },
                            ]
                        },
                        {
                            "id": "238",
                            "value": "Website Back Office",
                            "items": [
                                {
                                    "id": "239",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/Books">View Books</a>',
                                },
                                {
                                    "id": "240",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">View Avatars</a>',
                                },
                                {
                                    "id": "241",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Other</a>',
                                },
                            ]
                        },
                        {
                            "id": "242",
                            "value": "View Deleted",
                            "items": [
                                {
                                    "id": "243",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Contacts</a>',
                                },
                                {
                                    "id": "244",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/Books">Books</a>',
                                },
                                {
                                    "id": "245",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Avatars</a>',
                                },
                                {
                                    "id": "246",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Projects</a>',
                                },
                                {
                                    "id": "247",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Invoices</a>',
                                },
                            ]
                        },
                    ]
                },
                {
                    "type": "separator"
                },
                {
                    "id": "300",
                    "value": "CONTENT",
                    "items": [
                        {
                            "id": "301",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/">CUNE PRESS</a>',
                        },
                        {
                            "id": "302",
                            "value": "People",
                            "items": [
                                {
                                    "id": "303",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Author / Contributor</a>',
                                },
                                {
                                    "id": "304",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Royalties Recipient</a>',
                                },
                                {
                                    "id": "305",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Vendor</a>',
                                },
                                {
                                    "id": "306",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Customer, Cash</a>',
                                },
                                {
                                    "id": "307",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Customer, Account</a>',
                                },
                                {
                                    "id": "308",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Publicist</a>',
                                },
                                {
                                    "id": "309",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Reviewer</a>',
                                },
                                {
                                    "id": "310",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Review Publication</a>',
                                },
                            ]
                        },
                        {
                            "id": "311",
                            "value": "Books",
                            "items": [
                                {
                                    "id": "312",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/Books">View Books</a>',
                                },
                                {
                                    "id": "313",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Book Admin</a>',
                                },
                                {
                                    "id": "314",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Production Status</a>',
                                },
                                {
                                    "id": "315",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Export Book Data</a>',
                                },
                                {
                                    "id": "316",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Import Book Data</a>',
                                },
                            ]
                        },
                        {
                            "id": "317",
                            "value": "Author / Contributors",
                            "items": [
                                {
                                    "id": "318",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">View Authors</a>',
                                },
                                {
                                    "id": "319",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Search Authors</a>',
                                },
                                {
                                    "id": "320",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">View Avatars</a>',
                                },
                                {
                                    "id": "321",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Splash Page Admin</a>',
                                },
                                {
                                    "id": "322",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Select an Author</a>',
                                },
                            ]
                        },
                        {
                            "id": "323",
                            "value": "Catalogs",
                            "items": [
                                {
                                    "id": "324",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">View Catalog</a>',
                                },
                                {
                                    "id": "325",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Catalog Admin</a>',
                                },
                                {
                                    "id": "326",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Catalog Content</a>',
                                },
                            ]
                        },
                        {
                            "id": "327",
                            "value": "Production",
                            "items": [
                                {
                                    "id": "328",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Track book from ms to Jackson</a>',
                                },
                                {
                                    "id": "329",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Costs x title</a>',
                                },
                                {
                                    "id": "330",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Rqd Book Data</a>',
                                },
                                {
                                    "id": "331",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">JS tools</a>',
                                },
                                {
                                    "id": "332",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">GREP tools</a>',
                                },
                            ]
                        },
                        {
                            "id": "333",
                            "value": "Stock",
                            "items": [
                                {
                                    "id": "334",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">View Stock</a>',
                                },
                                {
                                    "id": "335",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">View Inventory</a>',
                                },
                            ]
                        },
                        {
                            "id": "336",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/">SCD PHOTOGRAPHY</a>',
                        },
                        {
                            "id": "337",
                            "value": "People",
                            "items": [
                                {
                                    "id": "338",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Client</a>',
                                },
                                {
                                    "id": "339",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Model / Agency</a>',
                                },
                                {
                                    "id": "340",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">MUA</a>',
                                },
                                {
                                    "id": "341",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Hair  Stylist</a>',
                                },
                                {
                                    "id": "342",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Set Designer</a>',
                                },
                                {
                                    "id": "343",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Studio Space</a>',
                                },
                                {
                                    "id": "345",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Mentor / Consultant</a>',
                                },
                                {
                                    "id": "346",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Vendor</a>',
                                },
                                {
                                    "id": "347",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Photo Travel</a>',
                                },
                                {
                                    "id": "348",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Staff</a>',
                                },
                            ]
                        },
                        {
                            "id": "349",
                            "value": "Photoshoot",
                            "items": [
                                {
                                    "id": "350",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">View Photoshoots</a>',
                                },
                                {
                                    "id": "351",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">View Mood Boards</a>',
                                },
                            ]
                        },
                    ]
                },
                {
                    "type": "separator"
                },
                {
                    "id": "400",
                    "value": "PUBLISH",
                    "items": [
                        {
                            "id": "401",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/">Web Features</a>',
                        },
                        {
                            "id": "402",
                            "value": "Arrays",
                            "items": [
                                {
                                    "id": "403",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">View Arrays</a>',
                                },
                                {
                                    "id": "404",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Array Admin</a>',
                                },
                            ]
                        },
                        {
                            "id": "405",
                            "value": "Object Display",
                            "items": [
                                {
                                    "id": "406",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">View Object Displays</a>',
                                },
                                {
                                    "id": "407",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Object Display Admin</a>',
                                },
                            ]
                        },
                        {
                            "id": "408",
                            "value": "Movement",
                            "items": [
                                {
                                    "id": "409",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Carousels</a>',
                                },
                                {
                                    "id": "410",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Flippers</a>',
                                },
                                {
                                    "id": "411",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Slideshows</a>',
                                },
                            ]
                        },
                    ]
                },
                {
                    "type": "separator"
                },
                {
                    "id": "500",
                    "value": "PROMOTE",
                    "items": [
                        {
                            "id": "501",
                            "value": "Catalog",
                            "items": [
                                {
                                    "id": "502",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">View Catalogs</a>',
                                },
                                {
                                    "id": "503",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Catalog Admin</a>',
                                },
                                {
                                    "id": "504",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Catalog Content</a>',
                                },
                                {
                                    "id": "505",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Catalog Export</a>',
                                },
                            ]
                        },
                    ]
                },
                {
                    "type": "separator"
                },
                {
                    "id": "600",
                    "value": "REPORTS",
                    "items": [
                        {
                            "id": "601",
                            "value": "Customers",
                            "items": [
                                {
                                    "id": "602",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Customer Statements</a>',
                                },
                                {
                                    "id": "603",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Customers x Books</a>',
                                },
                            ]
                        },
                        {
                            "id": "604",
                            "value": "Authors",
                            "items": [
                                {
                                    "id": "605",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Authors x Books</a>',
                                },
                            ]
                        },
                        {
                            "id": "606",
                            "value": "Income",
                            "items": [
                                {
                                    "id": "607",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Sales x Paid</a>',
                                },
                            ]
                        },
                        {
                            "id": "608",
                            "value": "All Products",
                            "items": [
                                {
                                    "id": "609",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Sales x Re-order</a>',
                                },
                            ]
                        },
                        {
                            "id": "610",
                            "value": "Taxes",
                            "items": [
                                {
                                    "id": "611",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Accounts Receivable</a>',
                                },
                                {
                                    "id": "612",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Sales x 4 Types</a>',
                                },
                            ]
                        },
                    ]
                },
                {
                    "type": "separator"
                },
                {
                    "id": "700",
                    "value": "PROJECTS",
                    "items": [
                        {
                            "id": "701",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/">Projects</a>',
                        },
                        {
                            "id": "702",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/">Project Tasks</a>',
                        },
                        {
                            "id": "703",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/">Overhead</a>',
                        },
                        {
                            "id": "704",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/">View Deleted Projects</a>',
                        },
                    ]
                },
                {
                    "type": "separator"
                },
                {
                    "id": "800",
                    "value": "ACCOUNTING",
                    "items": [
                        {
                            "id": "801",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" style="color: #aaaafd" href="/">View Vendor Invoices</a>',
                        },
                        {
                            "id": "802",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" style="color: #aaaafd" href="/">View Timesheets</a>',
                        },
                        {
                            "id": "803",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/">Income Home</a>',
                        },
                        {
                            "id": "804",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/">Royalties</a>',
                        },
                        {
                            "id": "805",
                            "type": "customHTML",
                            "html": '<a class="dhx_button dhx_menu-button" href="/">Inventory Home</a>',
                        },
                        {
                            "id": "806",
                            "value": "Setup",
                            "items": [
                                {
                                    "id": "807",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Companies</a>',
                                },
                                {
                                    "id": "808",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Accounts</a>',
                                },
                                {
                                    "id": "809",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">View Staff</a>',
                                },
                                {
                                    "id": "810",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Labor Rates</a>',
                                },
                                {
                                    "id": "811",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Project Codes</a>',
                                },
                                {
                                    "id": "812",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Sales Tax Rates</a>',
                                },
                            ]
                        },
                    ]
                },
                {
                    "type": "separator"
                },
                {
                    "id": "900",
                    "value": "STAFF",
                    "items": [
                        {
                            "id": "901",
                            "value": "Timesheets",
                            "items": [
                                {
                                    "id": "902",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Kinesis</a>',
                                },
                                {
                                    "id": "903",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Cune</a>',
                                },
                                {
                                    "id": "904",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Payroll</a>',
                                },
                            ]
                        },
                        @*{
                            "id": "905",
                            "value": "Timesheets",
                            "items": [
                                {
                                    "id": "906",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Status</a>',
                                },
                                {
                                    "id": "907",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Cases</a>',
                                },
                                {
                                    "id": "908",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Weekly Reports</a>',
                                },
                                {
                                    "id": "909",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Sprints</a>',
                                },
                                {
                                    "id": "910",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Tasks</a>',
                                },
                                {
                                    "id": "911",
                                    "type": "customHTML",
                                    "html": '<a class="dhx_button dhx_menu-button" href="/">Knowledge Base</a>',
                                },
                            ]
                        },*@
                    ]
                },
            ]
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
